<div class="row text-center">
    <h1 class="text-info">You have reached the end of the Internet.</h1>

    <br />
    <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Home Page</a>
</div>